.materials-header {
  text-align: center;

  h1 {
    font-family: "Sue Ellen Francisco";
    font-size: 500%;
    margin-bottom: 48px;
  }
}

.materials-container {
  background-image: image-url('notebook_paper.jpg');
  background-size: cover;
  line-height: 1.5;
  margin: 20px auto;
  padding: 40px 40px 40px 100px;
  width: 1200px;
}

.materials-page {
  font-family: "Arial";




  h1 {
    font-family: "Arial";
    font-size: 2rem;
  }

  h2 {
    font-family: "Arial";
    font-size: 1.5em;
  }

  h3 {
    font-family: "Arial";
    font-size: 1.2em;
  }

  p, a, li {
    font-family: "Arial";
    font-size: 1em;
  }

   a {
    font-family: "font-family: "Sue Ellen Francisco";";
    font-size: 1.5em;
  }

  i {
    color: rgb(35, 35, 35);
    font-size: 1em;
  }
}
