.materials-header {
  text-align: center;

  h1 {
    font-family: "Sue Ellen Francisco";
    font-size: 500%;
    margin-bottom: 48px;
  }
}

.materials-container {
  background-image: image-url('notebook_paper.jpg');
  background-size: cover;
  line-height: 1.5;
  margin: 20px auto;
  padding: 40px 40px 40px 100px;
  width: 1200px;
}
