.list-items {
  color: rgb(15, 15, 15);

  &:hover {
    color:black;
    background: linear-gradient(120deg, rgba(255, 225, 0, 0.6) 0%, rgba(255, 225, 0, 0.6) 100%);
    background-repeat: no-repeat;
    background-size: 100% 45%;
    background-position: 0 88%;
  }
}
